# Yelp Open Dataset Preprocessing

### 1. Carga de los datasets

In [1]:
import json
import pandas as pd

1.1. Negocios

In [2]:
data = []
with open("data/yelp_academic_dataset_business.json", encoding = "utf-8") as data_file:
    for line in data_file:
        data.append(json.loads(line))

yelp_business = pd.DataFrame(data)
print("Total business:", yelp_business.shape[0])
yelp_business.head()

Total business: 150346

,business_id,name,address,city,state,postal_code,latitude,longitude,stars,review_count,is_open,attributes,categories,hours
0,Pns2l4eNsfO8kk83dixA6A,"Abby Rappoport, LAC, CMQ","1616 Chapala St, Ste 2",Santa Barbara,CA,93101,34.426679,-119.711197,5.0,7,0,{'ByAppointmentOnly': 'True'},"Doctors, Traditional Chinese Medicine, Naturop...",None
1,mpf3x-BjTdTEA3yCZrAYPw,The UPS Store,87 Grasso Plaza Shopping Center,Affton,MO,63123,38.551126,-90.335695,3.0,15,1,{'BusinessAcceptsCreditCards': 'True'},"Shipping Centers, Local Services, Notaries, Ma...","{'Monday': '0:0-0:0', 'Tuesday': '8:0-18:30', ..."
2,tUFrWirKiKi_TAnsVWINQQ,Target,5255 E Broadway Blvd,Tucson,AZ,85711,32.223236,-110.880452,3.5,22,0,"{'BikeParking': 'True', 'BusinessAcceptsCredit...","Department Stores, Shopping, Fashion, Home & G...","{'Monday': '8:0-22:0', 'Tuesday': '8:0-22:0', ..."
3,MTSW4McQd7CbVtyjqoe9mw,St Honore Pastries,935 Race St,Philadelphia,PA,19107,39.955505,-75.155564,4.0,80,1,"{'RestaurantsDelivery': 'False', 'OutdoorSeati...","Restaurants, Food, Bubble Tea, Coffee & Tea, B...","{'Monday': '7:0-20:0', 'Tuesday': '7:0-20:0', ..."
4,mWMc6_wTdE0EUBKIGXDVfA,Perkiomen Valley Brewery,101 Walnut St,Green Lane,PA,18054,40.338183,-75.471659,4.5,13,1,"{'BusinessAcceptsCreditCards': 'True', 'Wheelc...","Brewpubs, Breweries, Food","{'Wednesday': '14:0-22:0', 'Thursday': '16:0-2..."

In [3]:
yelp_business.isna().sum()

business_id         0
name                0
address             0
city                0
state               0
postal_code         0
latitude            0
longitude           0
stars               0
review_count        0
is_open             0
attributes      13744
categories        103
hours           23223
dtype: int64

Las horas no usarán para la demo de Oliv.ia, mientras que los atributos se asumiran con None

1.2. Reseñas

In [4]:
data = []
with open("data/yelp_academic_dataset_review.json", encoding = "utf-8") as data_file:
    for line in data_file:
        data.append(json.loads(line))

yelp_reviews = pd.DataFrame(data)
print("Total reviews:", yelp_reviews.shape[0])
yelp_reviews.head()

Total reviews: 6990280

,review_id,user_id,business_id,stars,useful,funny,cool,text,date
0,KU_O5udG6zpxOg-VcAEodg,mh_-eMZ6K5RLWhZyISBhwA,XQfwVwDr-v0ZS3_CbbE5Xw,3.0,0,0,0,"If you decide to eat here, just be aware it is...",2018-07-07 22:09:11
1,BiTunyQ73aT9WBnpR9DZGw,OyoGAe7OKpv6SyGZT5g77Q,7ATYjTIgM3jUlt4UM3IypQ,5.0,1,0,1,I've taken a lot of spin classes over the year...,2012-01-03 15:28:18
2,saUsX_uimxRlCVr67Z4Jig,8g_iMtfSiwikVnbP2etR0A,YjUWPpI6HXG530lwP-fb2A,3.0,0,0,0,Family diner. Had the buffet. Eclectic assortm...,2014-02-05 20:30:30
3,AqPFMleE6RsU23_auESxiA,_7bHUi9Uuf5__HHc_Q8guQ,kxX2SOes4o-D3ZQBkiMRfA,5.0,1,0,1,"Wow! Yummy, different, delicious. Our favo...",2015-01-04 00:01:03
4,Sx8TMOWLNuJBWer-0pcmoA,bcjbaE6dDog4jkNY91ncLQ,e4Vwtrqf-wpJfwesgvdgxQ,4.0,1,0,1,Cute interior and owner (?) gave us tour of up...,2017-01-14 20:54:15

In [5]:
yelp_reviews.isna().sum()

review_id      0
user_id        0
business_id    0
stars          0
useful         0
funny          0
cool           0
text           0
date           0
dtype: int64

1.3. Usuarios

In [6]:
data = []
with open("data/yelp_academic_dataset_user.json", encoding = "utf-8") as data_file:
    for line in data_file:
        data.append(json.loads(line))

yelp_users = pd.DataFrame(data)
print("Total users:", yelp_users.shape[0])
yelp_users.head()

Total users: 1987897

,user_id,name,review_count,yelping_since,useful,funny,cool,elite,friends,fans,...,compliment_more,compliment_profile,compliment_cute,compliment_list,compliment_note,compliment_plain,compliment_cool,compliment_funny,compliment_writer,compliment_photos
0,qVc8ODYU5SZjKXVBgXdI7w,Walker,585,2007-01-25 16:47:26,7217,1259,5994,2007,"NSCy54eWehBJyZdG2iE84w, pe42u7DcCH2QmI81NX-8qA...",267,...,65,55,56,18,232,844,467,467,239,180
1,j14WgRoU_-2ZE1aw1dXrJg,Daniel,4333,2009-01-25 04:35:42,43091,13066,27281,"2009,2010,2011,2012,2013,2014,2015,2016,2017,2...","ueRPE0CX75ePGMqOFVj6IQ, 52oH4DrRvzzl8wh5UXyU0A...",3138,...,264,184,157,251,1847,7054,3131,3131,1521,1946
2,2WnXYQFK0hXEoTxPtV2zvg,Steph,665,2008-07-25 10:41:00,2086,1010,1003,"2009,2010,2011,2012,2013","LuO3Bn4f3rlhyHIaNfTlnA, j9B4XdHUhDfTKVecyWQgyA...",52,...,13,10,17,3,66,96,119,119,35,18
3,SZDeASXq7o05mMNLshsdIA,Gwen,224,2005-11-29 04:38:33,512,330,299,"2009,2010,2011","enx1vVPnfdNUdPho6PH_wg, 4wOcvMLtU6a9Lslggq74Vg...",28,...,4,1,6,2,12,16,26,26,10,9
4,hA5lMy-EnncsH4JoR-hFGQ,Karen,79,2007-01-05 19:40:59,29,15,7,,"PBK4q9KEEBHhFvSXCUirIw, 3FWPpM7KU1gXeOM_ZbYMbA...",1,...,1,0,0,0,1,1,0,0,0,0

In [7]:
yelp_users.isna().sum()

user_id               0
name                  0
review_count          0
yelping_since         0
useful                0
funny                 0
cool                  0
elite                 0
friends               0
fans                  0
average_stars         0
compliment_hot        0
compliment_more       0
compliment_profile    0
compliment_cute       0
compliment_list       0
compliment_note       0
compliment_plain      0
compliment_cool       0
compliment_funny      0
compliment_writer     0
compliment_photos     0
dtype: int64

### 2. Filtrado inicial de Restaurantes

In [8]:
import pandas as pd
from collections import Counter

In [9]:
yelp_business = yelp_business.dropna(subset=["categories"])
yelp_business["categories"] = yelp_business["categories"].apply(lambda x: [cat.strip() for cat in x.split(",")])
yelp_business = yelp_business[yelp_business["categories"].apply(lambda cats: "Restaurants" in cats)]
print("Total restaurants:", yelp_business.shape[0])

Total restaurants: 52268

#### 2.1. Exploración de las categorías

In [10]:
categories = [category for sublist in yelp_business.categories for category in sublist]

unique_categories = set(categories)
print("Categorías únicas:", len(unique_categories))

categories = Counter(categories)
categories = categories.most_common()
filename = "categories.txt"
with open(filename, "w", encoding = "utf-8") as f:
    for category, count in categories:
        f.write(f"{category},{count}\n")
print("Categorías almacenadas en:", filename)

Categorías únicas: 728
Categorías almacenadas en: categories.txt

##### 2.1.1. Eliminación de casos inapropiados y eliminación de categorías poco informativas

In [11]:
## Primer filtro
# Categorías que marcan casos a excluir del dataset
categories_to_exclude = ["Flowers & Gifts", "Health & Medical", "Home Services", "Education", "Florists", "Tours", "Personal Chefs", "Festivals", "Specialty Schools", "Department Stores", "Amusement Parks", "Nutritionists", "Vitamins & Supplements", "Hair Salons""Religious Organizations", "Shopping Centers"]

# Eliminación de muestras
exclude_mask = yelp_business.categories.apply(
    lambda x: any(cat in x for cat in categories_to_exclude)
)
yelp_business = yelp_business[~exclude_mask]

print("Primer filtro")
print("-------------")
print("Muestras eliminadas:", exclude_mask.sum())
print("Restaurantes restantes:", yelp_business.shape[0])

Primer filtro
-------------
Muestras eliminadas: 497
Restaurantes restantes: 51771

In [12]:
categories = [category for sublist in yelp_business.categories for category in sublist]

unique_categories = set(categories)
print("Categorías únicas (tras primer filtro):", len(unique_categories))

categories = Counter(categories)
categories = categories.most_common()
filename = "categories.txt"
with open(filename, "w", encoding = "utf-8") as f:
    for category, count in categories:
        f.write(f"{category},{count}\n")
print("Categorías almacenadas en:", filename)

Categorías únicas (tras primer filtro): 583
Categorías almacenadas en: categories.txt

In [13]:
## Segundo filtro
# Categorías que marcan casos a excluir del dataset
categories_to_exclude = ["Public Services & Government", "Swimming Pools", "Yelp Events", "Women's Clothing", "Financial Services", "Pet Stores", "Pet Services", "Yoga", "Home Decor", "Departments of Motor Vehicles", "Departments of Motor Vehicles", "Nail Salons", "Personal Shopping", "Hobby Shops", "Nurseries & Gardening", "Party Equipment Rentals", "Boat Charters", "Party Supplies", "Cosmetics & Beauty Supply", "Banks & Credit Unions", "Jewelry", "Men's Clothing", "Wigs", "Furniture Stores", "Vape Shops"]
low_freq_categories = [cat for cat, count in categories if count < 5]
categories_to_exclude = categories_to_exclude + low_freq_categories
# Eliminación de muestras
exclude_mask = yelp_business.categories.apply(
    lambda x: any(cat in x for cat in categories_to_exclude)
)
yelp_business = yelp_business[~exclude_mask]

# Categorías a eliminar
categories_to_remove = ["Restaurants", "Food", "Event Planning & Services", "Caterers", "Specialty Food", "Venues & Event Spaces", "Shopping", "Party & Event Planning", "Professional Services", "Cooking Schools", "Wholesale Stores", "Drugstores", "Golf Lessons", "Restaurant Supplies"]

# Eliminación de categorías
yelp_business["categories"] = yelp_business["categories"].apply(
    lambda category_list: [
        cat for cat in category_list
        if cat not in categories_to_remove
    ]
).copy()

print("Segundo filtro")
print("-------------")
print("Muestras eliminadas:", exclude_mask.sum())
print("Restaurantes restantes:", yelp_business.shape[0])

Segundo filtro
-------------
Muestras eliminadas: 473
Restaurantes restantes: 51298

In [14]:
categories = [category for sublist in yelp_business.categories for category in sublist]

unique_categories = set(categories)
print("Categorías únicas (tras segundo filtro):", len(unique_categories))

categories = Counter(categories)
categories = categories.most_common()
filename = "categories.txt"
with open(filename, "w", encoding = "utf-8") as f:
    for category, count in categories:
        f.write(f"{category},{count}\n")
print("Categorías almacenadas en:", filename)

Categorías únicas (tras segundo filtro): 302
Categorías almacenadas en: categories.txt

#### 2.2. Búsqueda y eliminación de duplicados

In [15]:
print("IDs duplicados:", yelp_business.business_id.duplicated().sum())
print("Restaurantes duplicados (nombre, dirección, ciudad y estado)", yelp_business.loc[: , ["name", "address", "city", "state"]].duplicated().sum())

IDs duplicados: 0
Restaurantes duplicados (nombre, dirección, ciudad y estado) 43

In [16]:
yelp_business.drop_duplicates(subset = ["name", "address", "city", "state"], inplace=True)
print("Total Restaurants after deleting duplicates:", yelp_business.shape[0])

Total Restaurants after deleting duplicates: 51255

### 3. Eliminación muestras innecesarias Reviews y Users

#### 3.1. Reviews

In [17]:
yelp_reviews = yelp_reviews[yelp_reviews["business_id"].isin(yelp_business["business_id"])]

print("Total reviews:", yelp_reviews.shape[0])
yelp_reviews.head()

Total reviews: 4637828

,review_id,user_id,business_id,stars,useful,funny,cool,text,date
0,KU_O5udG6zpxOg-VcAEodg,mh_-eMZ6K5RLWhZyISBhwA,XQfwVwDr-v0ZS3_CbbE5Xw,3.0,0,0,0,"If you decide to eat here, just be aware it is...",2018-07-07 22:09:11
2,saUsX_uimxRlCVr67Z4Jig,8g_iMtfSiwikVnbP2etR0A,YjUWPpI6HXG530lwP-fb2A,3.0,0,0,0,Family diner. Had the buffet. Eclectic assortm...,2014-02-05 20:30:30
3,AqPFMleE6RsU23_auESxiA,_7bHUi9Uuf5__HHc_Q8guQ,kxX2SOes4o-D3ZQBkiMRfA,5.0,1,0,1,"Wow! Yummy, different, delicious. Our favo...",2015-01-04 00:01:03
4,Sx8TMOWLNuJBWer-0pcmoA,bcjbaE6dDog4jkNY91ncLQ,e4Vwtrqf-wpJfwesgvdgxQ,4.0,1,0,1,Cute interior and owner (?) gave us tour of up...,2017-01-14 20:54:15
5,JrIxlS1TzJ-iCu79ul40cQ,eUta8W_HdHMXPzLBBZhL1A,04UD14gamNjLY0IDYVhHJg,1.0,1,2,1,I am a long term frequent customer of this est...,2015-09-23 23:10:31

 #### 3.2. Users

In [18]:
yelp_users = yelp_users[yelp_users["user_id"].isin(yelp_reviews["user_id"])]

print("Total users:", yelp_users.shape[0])
yelp_users.head()

Total users: 1428824

,user_id,name,review_count,yelping_since,useful,funny,cool,elite,friends,fans,...,compliment_more,compliment_profile,compliment_cute,compliment_list,compliment_note,compliment_plain,compliment_cool,compliment_funny,compliment_writer,compliment_photos
0,qVc8ODYU5SZjKXVBgXdI7w,Walker,585,2007-01-25 16:47:26,7217,1259,5994,2007,"NSCy54eWehBJyZdG2iE84w, pe42u7DcCH2QmI81NX-8qA...",267,...,65,55,56,18,232,844,467,467,239,180
1,j14WgRoU_-2ZE1aw1dXrJg,Daniel,4333,2009-01-25 04:35:42,43091,13066,27281,"2009,2010,2011,2012,2013,2014,2015,2016,2017,2...","ueRPE0CX75ePGMqOFVj6IQ, 52oH4DrRvzzl8wh5UXyU0A...",3138,...,264,184,157,251,1847,7054,3131,3131,1521,1946
2,2WnXYQFK0hXEoTxPtV2zvg,Steph,665,2008-07-25 10:41:00,2086,1010,1003,"2009,2010,2011,2012,2013","LuO3Bn4f3rlhyHIaNfTlnA, j9B4XdHUhDfTKVecyWQgyA...",52,...,13,10,17,3,66,96,119,119,35,18
3,SZDeASXq7o05mMNLshsdIA,Gwen,224,2005-11-29 04:38:33,512,330,299,"2009,2010,2011","enx1vVPnfdNUdPho6PH_wg, 4wOcvMLtU6a9Lslggq74Vg...",28,...,4,1,6,2,12,16,26,26,10,9
4,hA5lMy-EnncsH4JoR-hFGQ,Karen,79,2007-01-05 19:40:59,29,15,7,,"PBK4q9KEEBHhFvSXCUirIw, 3FWPpM7KU1gXeOM_ZbYMbA...",1,...,1,0,0,0,1,1,0,0,0,0

### 4. Transformación de attributes y categories

#### 4.1. Obtención de todos los atributos únicos y sus posibles valores

##### 4.1.1. Limpieza de la variable

In [19]:
import pandas as pd
import ast

def clean_value(value):
    if isinstance(value, str):
        try:
            posible_dict = ast.literal_eval(value)
            if isinstance(posible_dict, dict):
                return clean_dict(posible_dict)
        except (ValueError, SyntaxError):
            pass
    
        if value.startswith("u'") and value.endswith("'"):
            value = value[2:-1]
        elif value.startswith("'") and value.endswith("'"):
            value = value[1:-1]
        
        value = value.lower().capitalize()
    
    return value

def clean_dict(dic):
    clean_dic = {}
    for k, v in dic.items():
        if isinstance(v, dict):
            clean_dic[k] = clean_dict(v)
        else:
            clean_dic[k] = clean_value(v)
    return clean_dic

yelp_business["attributes"] = yelp_business["attributes"].apply(lambda x: clean_dict(x) if isinstance(x, dict) else x)

##### 4.1.2. Obtención de los valores únicos

In [20]:
from collections import defaultdict

attributes = defaultdict(set)

def get_values(dic, prefix=''):
    for key, value in dic.items():
        complete_key = f"{prefix}.{key}" if prefix else key
        if isinstance(value, dict):
            get_values(value, prefix=complete_key)
        else:
            attributes[complete_key].add(value)

for dic in yelp_business['attributes']:
    if isinstance(dic, dict):
        get_values(dic)

attributes = dict(attributes)

filename = "attributes.txt"
with open(filename, "w", encoding = "utf-8") as f:
    for key, value in attributes.items():
        f.write(f"{key}: {value}\n")
print("Atributos almacenados en:", filename)

Atributos almacenados en: attributes.txt

#### 4.2. To text

In [21]:
yelp_business_text = yelp_business.copy()

##### 4.2.1. Attributes

In [22]:
from utils import attributes_mapping

def attributes_to_text(dic, mapping, prefix=''):
    text = []
    for key, value in dic.items():
        complete_key = f"{prefix}.{key}" if prefix else key
        
        if isinstance(value, dict):
            text.extend(attributes_to_text(value, mapping, prefix=complete_key))
        else:
            if complete_key in mapping:
                mapped_sentence = mapping[complete_key]
                if callable(mapped_sentence):
                    result = mapped_sentence(value)
                    if isinstance(result, str) and result.strip():
                        text.append(result.strip())
                elif isinstance(mapped_sentence, str):
                    val_clean = str(value).strip()
                    if val_clean.lower() not in ['none', 'nan', '']:
                        text.append(f"{mapped_sentence}: {val_clean}")
    
    return text

yelp_business_text["attributes"] = yelp_business["attributes"].apply(
    lambda dic: " | ".join(attributes_to_text(dic, attributes_mapping) if isinstance(dic, dict) else "")
)

yelp_business_text.head()

,business_id,name,address,city,state,postal_code,latitude,longitude,stars,review_count,is_open,attributes,categories,hours
3,MTSW4McQd7CbVtyjqoe9mw,St Honore Pastries,935 Race St,Philadelphia,PA,19107,39.955505,-75.155564,4.0,80,1,Delivery unavaible | No outdoor seating availa...,"[Bubble Tea, Coffee & Tea, Bakeries]","{'Monday': '7:0-20:0', 'Tuesday': '7:0-20:0', ..."
5,CF33F8-E6oudUQ46HnavjQ,Sonic Drive-In,615 S Main St,Ashland City,TN,37015,36.269593,-87.058943,2.0,6,1,Accepts credit cards | Casual attire | Outdoor...,"[Burgers, Fast Food, Sandwiches, Ice Cream & F...","{'Monday': '0:0-0:0', 'Tuesday': '6:0-22:0', '..."
8,k0hlBqXX-Bt0vf1op7Jr1w,Tsevi's Pub And Grill,8025 Mackenzie Rd,Affton,MO,63123,38.565165,-90.321087,3.0,19,0,Caters available | Casual attire | Delivery un...,"[Pubs, Italian, Bars, American (Traditional), ...",None
9,bBDDEgkFA1Otx9Lfe7BZUQ,Sonic Drive-In,2312 Dickerson Pike,Nashville,TN,37207,36.208102,-86.768170,1.5,10,1,Casual attire | Not good for groups | Accepts ...,"[Ice Cream & Frozen Yogurt, Fast Food, Burgers]","{'Monday': '0:0-0:0', 'Tuesday': '6:0-21:0', '..."
11,eEOYSgkmpB90uNA7lDOMRA,Vietnamese Food Truck,,Tampa Bay,FL,33602,27.955269,-82.456320,4.0,10,1,Reservations not avaiable,"[Vietnamese, Food Trucks]","{'Monday': '11:0-14:0', 'Tuesday': '11:0-14:0'..."

##### 4.2.2. Categories y variable final

In [23]:
def features_to_embed(categories, attributes):
    cats = ", ".join(categories) if isinstance(categories, list) else ""
    return f"Categories: {cats}. Attributes: {attributes.strip()}"

yelp_business_text["features_to_embed"] = yelp_business_text.apply(
    lambda row: features_to_embed(row["categories"], row["attributes"]),
    axis=1
)

yelp_business_text.head()

,business_id,name,address,city,state,postal_code,latitude,longitude,stars,review_count,is_open,attributes,categories,hours,features_to_embed
3,MTSW4McQd7CbVtyjqoe9mw,St Honore Pastries,935 Race St,Philadelphia,PA,19107,39.955505,-75.155564,4.0,80,1,Delivery unavaible | No outdoor seating availa...,"[Bubble Tea, Coffee & Tea, Bakeries]","{'Monday': '7:0-20:0', 'Tuesday': '7:0-20:0', ...","Categories: Bubble Tea, Coffee & Tea, Bakeries..."
5,CF33F8-E6oudUQ46HnavjQ,Sonic Drive-In,615 S Main St,Ashland City,TN,37015,36.269593,-87.058943,2.0,6,1,Accepts credit cards | Casual attire | Outdoor...,"[Burgers, Fast Food, Sandwiches, Ice Cream & F...","{'Monday': '0:0-0:0', 'Tuesday': '6:0-22:0', '...","Categories: Burgers, Fast Food, Sandwiches, Ic..."
8,k0hlBqXX-Bt0vf1op7Jr1w,Tsevi's Pub And Grill,8025 Mackenzie Rd,Affton,MO,63123,38.565165,-90.321087,3.0,19,0,Caters available | Casual attire | Delivery un...,"[Pubs, Italian, Bars, American (Traditional), ...",None,"Categories: Pubs, Italian, Bars, American (Tra..."
9,bBDDEgkFA1Otx9Lfe7BZUQ,Sonic Drive-In,2312 Dickerson Pike,Nashville,TN,37207,36.208102,-86.768170,1.5,10,1,Casual attire | Not good for groups | Accepts ...,"[Ice Cream & Frozen Yogurt, Fast Food, Burgers]","{'Monday': '0:0-0:0', 'Tuesday': '6:0-21:0', '...","Categories: Ice Cream & Frozen Yogurt, Fast Fo..."
11,eEOYSgkmpB90uNA7lDOMRA,Vietnamese Food Truck,,Tampa Bay,FL,33602,27.955269,-82.456320,4.0,10,1,Reservations not avaiable,"[Vietnamese, Food Trucks]","{'Monday': '11:0-14:0', 'Tuesday': '11:0-14:0'...","Categories: Vietnamese, Food Trucks. Attribute..."

### 4.3. To MultiHot

#### 4.3.1. Attributes

In [24]:
def flatten_attributes(dic, prefix=''):
    items = {}
    for k, v in dic.items():
        key = f"{prefix}.{k}" if prefix else k
        if isinstance(v, dict):
            items.update(flatten_attributes(v, prefix=key))
        else:
            items[key] = v
    return items

def clean_value(val):
    val = str(val).lower().strip()
    if val in ['false', 'none', 'nan', '']:
        return pd.NA
    return val


flat_attributes = yelp_business["attributes"].apply(
    lambda x: flatten_attributes(x) if isinstance(x, dict) else {}
)


flat_attributes = pd.json_normalize(flat_attributes)


flat_attributes = flat_attributes.map(clean_value)

flat_attributes = pd.get_dummies(flat_attributes, dummy_na=False)

flat_attributes.columns = flat_attributes.columns.str.replace('_true$', '', regex=True)

flat_attributes = flat_attributes.map(lambda x: 1 if x else 0)

print(flat_attributes.shape)
flat_attributes.head()

(51255, 88)

,RestaurantsDelivery,OutdoorSeating,BusinessAcceptsCreditCards,BusinessParking.garage,BusinessParking.street,BusinessParking.validated,BusinessParking.lot,BusinessParking.valet,BikeParking,RestaurantsPriceRange2_1,...,AgesAllowed_18plus,AgesAllowed_21plus,AgesAllowed_allages,DietaryRestrictions.dairy-free,DietaryRestrictions.gluten-free,DietaryRestrictions.vegan,DietaryRestrictions.halal,DietaryRestrictions.soy-free,DietaryRestrictions.vegetarian,AcceptsInsurance
0,0,0,0,0,1,0,0,0,1,1,...,0,0,0,0,0,0,0,0,0,0
1,1,1,1,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
2,0,1,1,0,0,0,1,0,0,1,...,0,0,0,0,0,0,0,0,0,0
3,1,1,1,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

#### 4.3.2. Categories

In [25]:
from sklearn.preprocessing import MultiLabelBinarizer

mlb = MultiLabelBinarizer()

flat_categories = pd.DataFrame(
    mlb.fit_transform(yelp_business["categories"]),
    columns=mlb.classes_,
    index=yelp_business.index
)

flat_categories.columns = [col.replace(" ", "_") for col in flat_categories.columns]

print(flat_categories.shape)
flat_categories.head()

(51255, 302)

,Acai_Bowls,Active_Life,Adult_Entertainment,Afghan,African,Airport_Lounges,American_(New),American_(Traditional),Antiques,Appliances,...,Vietnamese,Waffles,Wedding_Planning,Whiskey_Bars,Wholesalers,Wine_&_Spirits,Wine_Bars,Wine_Tasting_Room,Wineries,Wraps
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
8,0,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
9,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
11,0,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0

#### 4.3.3. DataFrame final

In [26]:
yelp_business_mh = pd.concat([yelp_business.reset_index(drop=True),
                              flat_attributes.reset_index(drop=True),
                              flat_categories.reset_index(drop=True)],
                             axis=1)

print(yelp_business_mh.shape)
yelp_business_mh.head()

(51255, 404)

,business_id,name,address,city,state,postal_code,latitude,longitude,stars,review_count,...,Vietnamese,Waffles,Wedding_Planning,Whiskey_Bars,Wholesalers,Wine_&_Spirits,Wine_Bars,Wine_Tasting_Room,Wineries,Wraps
0,MTSW4McQd7CbVtyjqoe9mw,St Honore Pastries,935 Race St,Philadelphia,PA,19107,39.955505,-75.155564,4.0,80,...,0,0,0,0,0,0,0,0,0,0
1,CF33F8-E6oudUQ46HnavjQ,Sonic Drive-In,615 S Main St,Ashland City,TN,37015,36.269593,-87.058943,2.0,6,...,0,0,0,0,0,0,0,0,0,0
2,k0hlBqXX-Bt0vf1op7Jr1w,Tsevi's Pub And Grill,8025 Mackenzie Rd,Affton,MO,63123,38.565165,-90.321087,3.0,19,...,0,0,0,0,0,0,0,0,0,0
3,bBDDEgkFA1Otx9Lfe7BZUQ,Sonic Drive-In,2312 Dickerson Pike,Nashville,TN,37207,36.208102,-86.768170,1.5,10,...,0,0,0,0,0,0,0,0,0,0
4,eEOYSgkmpB90uNA7lDOMRA,Vietnamese Food Truck,,Tampa Bay,FL,33602,27.955269,-82.456320,4.0,10,...,1,0,0,0,0,0,0,0,0,0

### 5. Unión de las estrellas con la reseña

In [27]:
yelp_reviews["text"] = yelp_reviews.apply(
    lambda row: f"Rated {row['stars']} stars out of 5. {row['text']}", axis=1
)

yelp_reviews.head()

,review_id,user_id,business_id,stars,useful,funny,cool,text,date
0,KU_O5udG6zpxOg-VcAEodg,mh_-eMZ6K5RLWhZyISBhwA,XQfwVwDr-v0ZS3_CbbE5Xw,3.0,0,0,0,Rated 3.0 stars out of 5. If you decide to eat...,2018-07-07 22:09:11
2,saUsX_uimxRlCVr67Z4Jig,8g_iMtfSiwikVnbP2etR0A,YjUWPpI6HXG530lwP-fb2A,3.0,0,0,0,Rated 3.0 stars out of 5. Family diner. Had th...,2014-02-05 20:30:30
3,AqPFMleE6RsU23_auESxiA,_7bHUi9Uuf5__HHc_Q8guQ,kxX2SOes4o-D3ZQBkiMRfA,5.0,1,0,1,"Rated 5.0 stars out of 5. Wow! Yummy, differe...",2015-01-04 00:01:03
4,Sx8TMOWLNuJBWer-0pcmoA,bcjbaE6dDog4jkNY91ncLQ,e4Vwtrqf-wpJfwesgvdgxQ,4.0,1,0,1,Rated 4.0 stars out of 5. Cute interior and ow...,2017-01-14 20:54:15
5,JrIxlS1TzJ-iCu79ul40cQ,eUta8W_HdHMXPzLBBZhL1A,04UD14gamNjLY0IDYVhHJg,1.0,1,2,1,Rated 1.0 stars out of 5. I am a long term fre...,2015-09-23 23:10:31

### 6. Eliminación de columnas innecesarias

In [28]:
yelp_business = yelp_business.drop(columns = ["is_open", "hours"])
yelp_business_text = yelp_business_text.drop(columns = ["is_open", "hours", "attributes", "categories"])
yelp_business_mh = yelp_business_mh.drop(columns = ["is_open", "hours", "attributes", "categories"])
yelp_reviews = yelp_reviews.drop(columns = ["useful", "funny", "cool", "date"])
yelp_users = yelp_users.drop(columns = ["yelping_since", "elite", 'compliment_hot', 'compliment_more', 'compliment_profile', 'compliment_cute', 'compliment_list', 'compliment_note', 'compliment_plain', 'compliment_cool', 'compliment_funny', 'compliment_writer', 'compliment_photos'])

In [29]:
print("yelp_business:", yelp_business.shape)
print("yelp_business_text:", yelp_business_text.shape)
print("yelp_business_mh:", yelp_business_mh.shape)
print("yelp_reviews:", yelp_reviews.shape)
print("yelp_users:", yelp_users.shape)

yelp_business: (51255, 12)
yelp_business_text: (51255, 11)
yelp_business_mh: (51255, 400)
yelp_reviews: (4637828, 5)
yelp_users: (1428824, 9)

### 7. Guardado en csv

In [30]:
yelp_business.to_csv("yelp_business.csv", index = False)
yelp_business_text.to_csv("yelp_business_text.csv", index = False)
yelp_business_mh.to_csv("yelp_business_mh.csv", index = False)
yelp_reviews.to_csv("yelp_reviews.csv", index = False)
yelp_users.to_csv("yelp_users.csv", index = False)

print("Archivos guardados")

Archivos guardados