In [8]:
import pandas as pd
import numpy as np

In [3]:
data_path = 'exp1_14drivers_14cars_dailyRoutes.csv'
df = pd.read_csv(data_path)

C:\Users\Antonio BÃºa Pita\AppData\Local\Temp\ipykernel_21896\2076411289.py:2: DtypeWarning: Columns (1,2,4,5,6,9,10,14,15,16,20,21,22,23,24,25,26,27) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(data_path)

In [4]:
df

,TIMESTAMP,MARK,MODEL,CAR_YEAR,ENGINE_POWER,AUTOMATIC,VEHICLE_ID,BAROMETRIC_PRESSURE(KPA),ENGINE_COOLANT_TEMP,FUEL_LEVEL,...,THROTTLE_POS,DTC_NUMBER,TROUBLE_CODES,TIMING_ADVANCE,EQUIV_RATIO,MIN,HOURS,DAYS_OF_WEEK,MONTHS,YEAR
0,1.502903e+12,chevrolet,agile,2011.0,"1,4",n,car1,100.0,80.0,"48,60%",...,25%,MIL is OFF0 codes,NaN,"56,9%","1,0%",13.0,16.0,2.0,8.0,2017.0
1,1.502903e+12,chevrolet,agile,2011.0,"1,4",n,car1,100.0,80.0,"48,60%",...,25%,MIL is OFF0 codes,NaN,"56,5%","1,0%",13.0,16.0,2.0,8.0,2017.0
2,1.502903e+12,chevrolet,agile,2011.0,"1,4",n,car1,100.0,80.0,"48,60%",...,25%,MIL is OFF0 codes,NaN,"57,3%","1,0%",13.0,16.0,2.0,8.0,2017.0
3,1.502903e+12,chevrolet,agile,2011.0,"1,4",n,car1,100.0,80.0,"48,60%",...,25%,MIL is OFF0 codes,NaN,"56,5%","1,0%",13.0,16.0,2.0,8.0,2017.0
4,1.502903e+12,chevrolet,agile,2011.0,"1,4",n,car1,100.0,80.0,"48,60%",...,25%,MIL is OFF0 codes,NaN,"56,9%","1,0%",13.0,16.0,2.0,8.0,2017.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
60434,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
60435,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
60436,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
60437,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
60438,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [14]:
df.isnull().sum()

TIMESTAMP                      12925
MARK                           12980
MODEL                          12980
CAR_YEAR                       12980
ENGINE_POWER                   12980
AUTOMATIC                      12980
VEHICLE_ID                     12925
BAROMETRIC_PRESSURE(KPA)       50227
ENGINE_COOLANT_TEMP            26475
FUEL_LEVEL                     57445
ENGINE_LOAD                    29467
AMBIENT_AIR_TEMP               56820
ENGINE_RPM                     26580
INTAKE_MANIFOLD_PRESSURE       35350
MAF                            48611
LONG TERM FUEL TRIM BANK 2     47369
FUEL_TYPE                      40434
AIR_INTAKE_TEMP                26087
FUEL_PRESSURE                  60301
SPEED                          13910
SHORT TERM FUEL TRIM BANK 2    47369
SHORT TERM FUEL TRIM BANK 1    22844
ENGINE_RUNTIME                 48537
THROTTLE_POS                   26580
DTC_NUMBER                     13297
TROUBLE_CODES                  48514
TIMING_ADVANCE                 26277
EQUIV_RATIO                    48543
MIN                            12927
HOURS                          12927
DAYS_OF_WEEK                   12927
MONTHS                         12927
YEAR                           12927
dtype: int64

In [13]:
df_filtrado = df[df['TIMESTAMP'] == np.nan]
df_filtrado

Empty DataFrame
Columns: [TIMESTAMP, MARK, MODEL, CAR_YEAR, ENGINE_POWER, AUTOMATIC, VEHICLE_ID, BAROMETRIC_PRESSURE(KPA), ENGINE_COOLANT_TEMP, FUEL_LEVEL, ENGINE_LOAD, AMBIENT_AIR_TEMP, ENGINE_RPM, INTAKE_MANIFOLD_PRESSURE, MAF, LONG TERM FUEL TRIM BANK 2, FUEL_TYPE, AIR_INTAKE_TEMP, FUEL_PRESSURE, SPEED, SHORT TERM FUEL TRIM BANK 2, SHORT TERM FUEL TRIM BANK 1, ENGINE_RUNTIME, THROTTLE_POS, DTC_NUMBER, TROUBLE_CODES, TIMING_ADVANCE, EQUIV_RATIO, MIN, HOURS, DAYS_OF_WEEK, MONTHS, YEAR]
Index: []

[0 rows x 33 columns]